<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Add comment</h1>
        <%= form_for [@topic, @comment] do |f| %>
          <div class="form-group">
          <%= f.hidden_field :topic_id, :value=> params[:topic_id] %>
          <%= f.hidden_field :user_id, :value=> @login_comment_id %>
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
          </div>
          <%= f.submit 'Post', class: 'btn btn-black btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
