<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>

            <%= link_to topic_path(id: topic.id), method: :get do %>
            <% if topic.image.attached? %>
             <%= image_tag topic.image %>
           <% end %>
            
            <% end %>

            <% if Favorite.find_by(user_id:current_user.id,topic_id:topic.id) %>
              <%= link_to("/favorites/#{topic.id}/destroy", {method: "post"}) do %>
                <span class="fa fa-heart favorite-btn-unfavorite"></span>
              <% end %>
            <% else %>
              <%= link_to("/favorites/#{topic.id}/create", {method: "post"}) do %>
                <span class="fa fa-heart favorite-btn"></span>
              <% end %>
            <% end %>

            <%= topic.favorites.count %>

            <%= link_to new_comment_path(topic_id: topic.id), method: :get do %>
              <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <% end %>
            <%= topic.comments.count %>

            <p class="topic-text">
              <%= topic.description %>
            </p>
            <% if topic.comments.count != 0 %>
               <h3 class="topic-text">Comments</h3>
             <% end %>
             <% topic.comments.each do |comment| %>
               <p class="topic-text">
                 <%= comment.description %>
               </p>
             <% end %>


           </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
